/**
 * Bootstrap overrides
 */

// Glyphicon font path
$icon-font-path: "../../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

// Jumbotron
$jumbotron-heading-color: #444;
$jumbotron-color: #444;
$jumbotron-bg: #eaeaea;
